# ─── JWT ───────────────────────────────────────────
JWT_SECRET=
JWT_EXPIRE_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE_IN=20m

# ─── MongoDB Atlas ─────────────────────────────────
DB_USERNAME=
DB_PASSWORD=

# ─── Notifications ─────────────────────────────────
SOCKET_SERVER_URL=http://websocket-1:5000

# ─── UI  ───
REACT_APP_DEVMART_API=http://localhost:4000/api/v1/
REACT_APP_USERS_API=http://localhost:4000/api/v1/
REACT_APP_NOTIFICATIONS_API=http://localhost:4000/api/v1/
REACT_APP_SOCKET_SERVER_URL=http://localhost:4000